* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Electrolize&display=swap');

html{
  font-size: 62.5%;
}

header{
  background-color:darkslategray;
  border-bottom: #948E99, 8px, solid;
}

.padreHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  display: inline;
}

.hUnoText{
  font-weight: bold;
  align-items: center;
  position:relative;
  top:2rem;
}

.hDosText{
  font-weight: bold;
  align-items: center;
  position:relative;
  top: 2rem;
}

.logoBox{
  display: flex;
  width: 90px;
  margin: 10px;
  order: 1;
  display: inline-block; 
}

.secondPlace{
  display: flex;
  order: 2;
  display: inline-block;
  align-items: flex-start;
}

.carrusel{
  height: 35rem;
  object-fit: cover;
}

.titleBoxes{
  padding: auto;
  margin: auto;
}

.barraMenu{
  background-color:#606c88; 
  border-style:outset;
}

.menuBoxes:hover {
  background-color: #2E1437;
  padding: 1.5rem;
  transition: height 0.1s, width 0.1s;
}
 
.box p {
  background-color:#797D7F;  
  border: 4px; 
  color: black ; 
  font-weight: lighter;
  border-style: double;
  margin: 10px;
  padding: 20px;
  order: 3;
  display: inline-block;
}

.titleBox{
  /* width: 200px; */
  margin: 10rem;
  padding: 20rem;
  font-weight: bold;
  font-size: 20rem;
}

body {
  background-color:#212F3C;
}

footer{
  border-top: #948E99, 1px, solid;
  background-color: #17202A;
}

.darkGray {
  color:darkgray;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  text-decoration: none;
}

.imgBox {
width: 20rem;
margin: 3rem;
display: inline-block;
}

.redesSociales{
  list-style-type: none;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  color:#CACFD2;
}

.socialNetworks{
  text-decoration: none;
  text-align: center;
  font-size: 10rem;
  color: #CACFD2;
  margin: 3rem;
  padding: 3rem;
  transition: height 0.1s, width 0.1s;
}

.socialNetworks:hover {
  /* background-color: #2E1437; */
  padding: 1.5rem;
  color:#CACFD2;
 

}

.padreProductos{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

.producto{
  margin: 2rem;
  padding: 2rem;
  background-color:#CACFD2;
  width: 30rem;
  height: 40rem;
  color: #000;
  border:#000, 1px, solid; 
  font-size: 12px;
  text-align: left;
}

.cajasWebinars{
  margin: 2rem;
  padding: 5rem;
  background-color:#CACFD2;
  width: 40rem;
  height: 30rem;
  color: #000;
  border:#000, 1px, solid; 
  font-size: 12px;
  text-align: left; 
}

.padreContacto{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#948E99, #2E1437);
  width: 40rem;
  padding: auto;
  margin: auto;
  border-radius: 4px;
  font-family: 'Electrolize', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-size: 1.5rem;
  position: relative;
  top: 3rem;
} 

.centrado{
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 1rem;
  font-size: 2rem;
}

/* .contacto{
  display: flex;
  align-items: flex-start;
  display: inline-block;
  padding: 3rem;
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
} */

.itemContacto{
  position: relative;
  padding: auto;
  margin: 0.5rem;
  display: flex;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  transition: height 0.1s, width 0.1s;
}

.itemContacto:hover {
  background-color: #2E1437;
  padding: 1.5rem;
}

.boton{
    background: radial-gradient(#606c88, #3f4c6b);
    margin: 0.5rem;
    text-align: center;
    transition: all 0.1s;
}

.boton:hover {
  background-color: #2E1437;
  padding: 1.5rem;
}

.enlaceInterno{
  color: darkgray;
  text-decoration: none;
}


.animaciones{
  animation-name: animaciones;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
}