* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%; }
  html .tipografia {
    color: #D3D3D3;
    font-family: "Electrolize", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: justify;
    text-decoration: none;
    height: 100%; }

.favicon {
  filter: invert(62%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(118%) contrast(70%);
  color: #D3D3D3; }

.encabezado {
  background-color: darkslategray;
  width: 100%; }
  .encabezado .colorMenu {
    background-color: #D3D3D3; }
  .encabezado .colorNav {
    color: darkslategray;
    font-size: 1.6rem;
    margin: 0;
    padding: 0.5rem; }

.padreHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #D3D3D3, 5rem, solid;
  list-style: none;
  font-size: 4rem; }
  .padreHeader .logoyTitulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 4rem; }
    .padreHeader .logoyTitulo .logoElektram {
      color: #D3D3D3;
      font-size: 7rem;
      transition: height 0.1s, width 0.1s;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 1.5rem;
      margin-right: 0; }
      .padreHeader .logoyTitulo .logoElektram:hover {
        color: #D3D3D3;
        margin: 1.5rem; }
      @media (max-width: 640px) {
        .padreHeader .logoyTitulo .logoElektram {
          font-size: 6rem;
          margin-top: 3rem; } }
    .padreHeader .logoyTitulo .tituloYSubtitulo {
      display: flex;
      flex-direction: column;
      list-style: none;
      color: #D3D3D3;
      margin: 0;
      margin-top: 3rem;
      display: inline-block; }
      .padreHeader .logoyTitulo .tituloYSubtitulo h1 {
        font-size: 3rem;
        margin-bottom: 0%; }
      .padreHeader .logoyTitulo .tituloYSubtitulo h2 {
        font-size: 2rem;
        margin-top: 0%; }
    .padreHeader .logoyTitulo .hUnoText, .padreHeader .logoyTitulo .hDosText {
      font-weight: bold;
      position: relative;
      text-decoration: none;
      color: #D3D3D3; }
      .padreHeader .logoyTitulo .hUnoText a:link, .padreHeader .logoyTitulo .hDosText a:link {
        color: #D3D3D3; }
      .padreHeader .logoyTitulo .hUnoText a:visited, .padreHeader .logoyTitulo .hDosText a:visited {
        color: #D3D3D3; }
      .padreHeader .logoyTitulo .hUnoText:hover, .padreHeader .logoyTitulo .hDosText:hover {
        color: #D3D3D3;
        padding: 1.5rem; }
    @media (max-width: 640px) {
      .padreHeader .logoyTitulo {
        font-weight: lighter;
        padding-top: 0; }
        .padreHeader .logoyTitulo .hUnoText {
          margin: 0;
          padding-bottom: 0;
          font-size: 2rem; }
        .padreHeader .logoyTitulo .hDosText {
          font-size: 1.3rem; } }

.iconosWAyChango {
  list-style: none;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: flex-start; }
  .iconosWAyChango .chango {
    color: #D3D3D3;
    font-size: 3rem;
    transition: height 0.1s, width 0.1s;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 2rem; }
    .iconosWAyChango .chango:hover {
      color: #D3D3D3;
      padding: 1.5rem; }
    @media (max-width: 640px) {
      .iconosWAyChango .chango {
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 4.5rem; } }

.whatsApp {
  filter: none;
  font-size: 3rem;
  transition: height 0.1s, width 0.1s;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  margin-right: 2rem; }
  .whatsApp:hover {
    padding: 1.5rem; }
  @media (max-width: 640px) {
    .whatsApp {
      margin-left: 1rem;
      margin-right: 1.5rem;
      margin-top: 4.5rem; } }

main {
  background-color: #17202A; }

.titleBoxes {
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  display: block; }

.carrusel {
  height: 35rem;
  object-fit: cover;
  background-color: #D3D3D3;
  z-index: 1; }

.box {
  background-color: #D3D3D3;
  border: 4px;
  color: black;
  font-weight: lighter;
  border-style: double;
  margin: 2rem;
  padding: 2rem;
  display: inline-block;
  font-size: 1.6rem; }

.hTres {
  text-align: left; }

.padreProductos {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around; }

.producto {
  margin: 2rem;
  padding: 2rem;
  background-color: #CACFD2;
  width: 30rem;
  height: 40rem;
  color: #000;
  border: #000, 1px, solid;
  font-size: 12px;
  text-align: left; }

.cajasWebinars {
  margin: 2rem;
  padding: 5rem;
  background-color: #CACFD2;
  width: 40rem;
  height: 30rem;
  color: #000;
  border: #000, 1px, solid;
  font-size: 12px;
  text-align: left; }

@media (max-width: 640px) {
  .mediaQueryWebinars {
    width: 20rem; } }

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@media (max-width: 640px) {
  .mediaQueryMapa {
    width: 35rem; } }

.parrafo {
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: lighter;
  display: flex;
  display: block; }

.mainContacto {
  height: 35rem; }

.padreContacto {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#948E99, #2E1437);
  width: 40rem;
  padding: auto;
  margin: auto;
  border-radius: 4px;
  font-family: 'Electrolize', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-size: 1.5rem;
  position: relative;
  top: 3rem; }

.itemContacto {
  position: relative;
  padding: auto;
  margin: 0.5rem;
  display: flex;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  transition: height 0.1s, width 0.1s; }
  .itemContacto:hover {
    background-color: #2E1437;
    padding: 1.5rem; }

.boton {
  background: radial-gradient(#606c88, #3f4c6b);
  margin: 0.5rem;
  text-align: center;
  transition: all 0.1s; }
  .boton:hover {
    background-color: #2E1437;
    padding: 1.5rem; }

@media (max-width: 640px) {
  .mediaQueryContacto {
    width: 30rem; } }

footer {
  background-color: #17202A; }

.redesSociales {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  color: #D3D3D3; }
  .redesSociales .socialNetworks {
    text-decoration: none;
    font-size: 4rem;
    color: #D3D3D3;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    transition: height 0.1s, width 0.1s; }
    .redesSociales .socialNetworks:hover {
      padding: 1.5rem;
      color: #D3D3D3; }
