* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Electrolize&display=swap');

html{
  font-size: 62.5%;
}

header{
  background-color: #17202A;
}

.padreHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  display: inline-block;
}

.logoBox{
  display: flex;
  width: 75px;
  margin: 10px;
  order: 1;
  display: inline-block;
}

.secondPlace{
display: flex;
order: 2;
display: inline-block;
}

nav ul{
  display: flex;
  justify-content: space-between;
  order: 3;
  align-items: flex-end;
  display: inline-block;
}


.menu {
  color: #CACFD2;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
}

.displayRow{
  display:flex;
  display: inline-block;
}

.titleBoxes{
  padding: auto;
  margin: auto;
}

.menuBoxes{
  display:flex;
  border: 1px; color:#F8F9F9; border-style:outset;
  margin: 0.5rem;
  padding: 0.5em; 
  display: inline-block;
  position:relative;
  order: 3;
  background: radial-gradient(#606c88, #3f4c6b);
}

.box p {
  background-color:#797D7F;  
  border: 4px; 
  color: black ; 
  font-weight: lighter;
  border-style: double;
  margin: 10px;
  padding: 20px;
  order: 3;
  display: inline-block;
}

.titleBox{
  width: 200px;
  margin: 10px;
}

body {
  background-color:#212F3C;
}

.darkGray {
  color:darkgray;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  text-decoration: none;
}

.imgBox {
width: 20rem;
margin: 3rem;
display: inline-block;
}

.redesSociales{
  list-style-type: none;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

.socialNetworks{
  text-decoration: none;
  text-align: center;
  font-size: 4rem;
  color: #CACFD2;
  margin: 3rem;
  padding: 3rem;
}

.padreProductos{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.producto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem;
  padding: 3rem;
}

.padreContacto{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#948E99, #2E1437);
  width: 40rem;
  /* padding: auto; */
  margin: auto;
  border-radius: 4px;
  font-family: 'Electrolize', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-size: 1.5rem;
} 

.centrado{
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 1rem;
  font-size: 2rem;
}

/* .contacto{
  display: flex;
  align-items: flex-start;
  display: inline-block;
  padding: 3rem;
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
} */

.itemContacto{
  position: relative;
  padding: auto;
  margin: 0.5rem;
  display: flex;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
}

.boton{
    background: radial-gradient(#606c88, #3f4c6b);
    margin: 0.5rem;
    text-align: center;
}

.enlaceInterno{
  color: darkgray;
  text-decoration: none;
}