//Header HTML

header {
    background-color: darkslategray;
    border-bottom: #948E99, 5rem, solid;
  }
  
  .padreHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .firstPlace{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    h1{
      font-size: 3rem;
      margin-bottom: 0%;
    }

    h2{
      font-size: 2rem;
      margin-top: 0%;
    }
  }

  .secondPlace {
    display: flex;
    display:inline-block;
    justify-content:flex-end;
    list-style: none;
    // align-items: center;
    color: $color-secundario;
    // margin-right: 3rem;
    }
  
  .hUnoText, .hDosText {
    font-weight: bold;
    align-items: center;
    position: relative;    
    text-decoration: none;
    color: $color-secundario;  
    
    a:link{
      color: $color-secundario;
    }

    a:visited{
      color: $color-secundario;
    }

    &:hover {
      color: $color-secundario;
      padding: 1.5rem;
    }
  }
  
  .logoBox {
    display: flex;
    width: 7rem;
    margin: 2rem;
    transition: height 0.1s, width 0.1s;
    filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(107%) contrast(92%);

    &:hover {
      color: $color-secundario;
      padding: 3.5rem;
    }
  }
  .chango{
    width: 4rem;
    margin: 1rem;
    filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(107%) contrast(92%);
  }


// Menú de navegación

  .barraMenu {
    height:3rem; 
    background-color:$color-secundario;
    display: flex;
    display: inline;
    border-bottom: #000;
    border-top: #000;
  }

 .colorNav{
  background-color:$color-secundario;
  color: #000;
  font-size: 1.6rem;
  margin-right: 1rem;
 }  

 

  