//Header HTML

.encabezado {
height:12.5rem;
background-color: darkslategray;
}
  .padreHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $color-secundario, 5rem, solid;

    .firstPlace{
      margin: 2rem;
      padding: 0;
      display: flex;
      flex-direction: row;
    }

    .secondPlace {
      display: flex;
      flex-direction: column;
      list-style: none;
      color: $color-secundario;
      margin: 2rem;

      h1{
        font-size: 3rem;
        margin-bottom: 0%;
      }
  
      h2{
        font-size: 2rem;
        margin-top: 0%;
      }
      }

      .hUnoText, .hDosText {
        font-weight: bold;
        position: relative;    
        text-decoration: none;
        color: $color-secundario;  
        
        a:link{
          color: $color-secundario;
        }
    
        a:visited{
          color: $color-secundario;
        }
    
        &:hover {
          color: $color-secundario;
          padding: 1.5rem;
        }
      }

      .logoBox {
        width: 7rem;
        filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(107%) contrast(92%);
        list-style-type: none;
        display: inline-block;
        display: flex;
        justify-content: flex-end;
        // flex-direction: row;
        transition: height 0.1s, width 0.1s;
        padding: 0;
        margin: 0;
    
        &:hover {
          color: $color-secundario;
        }
      }
      .chango{
        filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(107%) contrast(92%);
        text-decoration: none;
        font-size: 4rem;
        color: $color-secundario;
        transition: height 0.1s, width 0.1s;
        margin: 2rem;
      }

      // Menú de navegación

  .barraMenu {
    height:3rem; 
    background-color:$color-secundario;
    display: flex;
    display: inline;
    border-bottom: #000;
    border-top: #000;
    display: flex;
    align-items: flex-end;
   
    .colorNav{
      background-color:$color-secundario;
      color: #000;
      font-size: 1.6rem;
      margin-right: 1rem;
     }  
  }
}





 

  