*{
  margin:0;
  padding:0;
}
 
html{
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

.favicon {
  filter: invert(62%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(118%) contrast(70%);
}

@import "variables";

.tipografia {
  color: $color-secundario;
  font-family: $tipo-de-fuente;
  font-size: $tamano-fuente;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: justify;
  text-decoration: none;
}

.logoBox {
  // width: 7rem;
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(107%) contrast(92%);
  list-style-type: none;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin:0;
  font-size: 4rem;

  &:hover {
  color: $color-secundario;
  }
}

@import "header";
@import "main";
@import "footer";