@import "variables";
@import "header";
@import "main";
@import "footer";
@import "maps";
@import "extend";
@import "mixin";

.favicon{
 filter: invert(15%) sepia(45%) saturate(428%) hue-rotate(166deg) brightness(92%) contrast(92%);
}

body {
  background-color: $color-principal;
  }

.darkGray {
    color:darkgray;
    font-family: $tipo-de-fuente;
    font-size: $tamano-fuente;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    text-decoration: none;
  }

footer{
    border-top: #948E99, 1px, solid;
    background-color: #17202A;
  }