*{
  margin:0;
  padding:0;
}
 
html{
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

@import "variables";

.favicon {
  filter: invert(62%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(118%) contrast(70%);
  color: $color-secundario;
}

.tipografia {
  color: $color-secundario;
  font-family: $tipo-de-fuente;
  font-size: $tamano-fuente;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: justify;
  text-decoration: none;
}

@import "header";
@import "main";
@import "footer";