* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Electrolize&display=swap');

html{
  font-size: 62.5%;
}

.padreHtml{
  display: grid;
  grid-template-columns:
  "logoTitle menu menu"
  "main main main"
  "main main main"
  "footer footer footer"
}

@media (min-width: 768 px){
  .padreHtml{
  display: grid;
  grid-template-columns:
  "logoTitle" 
  "menu menu"
  "main main"
  "main main"
  "main main"
  "footer footer"
  }
}

header{
  background-color: #17202A;
  grid-area: header;
}

.padreHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

/*Esta es la caja 1, hija del padreHeader*/
.logoBox{
  color: #797D7F;
  display: flex;
  font-size: 90px;
  order: 1;
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
}

/*Esta es la caja 2, hija del padreHeader*/
.siteTitle{
font-family: 'Electrolize', sans-serif;
font-size: 15px;
font-weight: bold;
line-height: 1.5px;
text-align: justify;
color:darkgray;
width: 50rem;
display: flex;
flex-flow: column wrap;
order: 2;
/* display: inline-block; */
align-items: space-around;
padding: 1rem;
margin: 1rem;
}

/*Esta es la caja 3, hija del padreHeader*/
.menu {
  color: #17202A;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin: 0.5rem;
  padding: 0.5rem;
  order: 3;
  grid-area: menu;
}

.menuBoxes{
  display:flex;
  display: inline-block;
  border: 1px; color:#17202A; border-style:outset;
  background-color: darkgray;
  margin: 0.5rem;
  position:relative;
  order: 3;
}

/*Esta clase .logoTitle la armé para que el logo me pudiera quedar pegado al h1 (Title) y que a su vez ese h1 se 
separara más del menú de navegación (tuve que romper el space-between del justify content en el padre porque hacía 
que las distancias entre los tres elementos del header (logo-título-manú) fueran iguales)*/

.logoTitle{
display: flex;
grid-area: logoTitle;
}

/*Estas etiquetas "header div div h?" las armé para poder ubicar el h1 en columna arriba del h2*/

header div div h1{
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  position: absolute;
  top: 4rem;
}

header div div h2{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  position: absolute;
  bottom: 2rem;
}

/*Esta clase la armé para los títulos de las páginas*/

.titleBoxes{
  display: flex;
  border: 1px; color:#212F3C ; border-style: solid;
  display: inline-block;
  background-color: #CACFD2;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.box p {
  background-color:#797D7F;  
  border: 4px; 
  color: black ; 
  font-weight: lighter;
  border-style: double;
  margin: 10px;
  padding: 20px;
  order: 3;
  display: inline-block;
}

main {
  background-color:#212F3C;
  color: darkgray;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  text-decoration: none;
  border-top: #797D7F 2px double;
  border-bottom: #797D7F 2px double;
  grid-area: main;
}

.imgBox {
width: 20rem;
margin: 3rem;
display: inline-block;
}

footer{
  background-color: #17202A;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  color:darkgray;
  font-family: 'Electrolize', sans-serif;
  grid-area: footer;
}

.redesSociales{
  list-style-type: none;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

.socialNetworks{
  text-decoration: none;
  text-align: center;
  font-size: 4rem;
  color: #CACFD2;
  margin: 3rem;
  padding: 3rem;
}

.padreProductos{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.producto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem;
  padding: 3rem;
}

.padreContacto{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.contacto{
  display: flex;
  align-items: flex-start;
  padding: 3rem;
}

.itemContacto{
  padding: 0.1rem;
  margin: 1rem;
}

.enlaceInterno{
  color: darkgray;
  text-decoration: none;
}